@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom small tweaks */
html,body,#__next { height: 100%; }
body {
  @apply bg-gradient-to-b from-bg0 to-bg1 text-sky-50;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
